{% extends 'base.html.twig' %}

{% block title %}Jte dis quoi!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Jte dis quoi!</h1>
        <p class="lead">Jte dis quoi est un réseau social de personnes vivant dans la région Nord et voulant faire découvrir des lieux atypiques et bienveillant aux personnes qui désireraient s'aventuer dans la région</p>
        <hr class="my-4">
        <p>Rejoins la communauté afin de pouvoir profiter pleinement de l'application !</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{ path('security.registration') }}" role="button">Inscription</a>
        </p>
      </div>
</div>



{% endblock %}
