{% extends 'base.html.twig' %}

{% block title %}Jte dis quoi - Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modification de mon mot de passe</h1>
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{message}}
            </div>
        {% endfor %}
        {{  form(form  )}}
    </div>

{% endblock %}